@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  margin-top: 0;
}

.menu-btn {
  position: fixed;
  z-index: 3;
  left: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burguer {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #E6EBE0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burguer::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  width: 28px;
  height: 3px;
  background: #E6EBE0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burguer::after {
  content: '';
  position: absolute;
  top: 0.5rem;
  width: 22px;
  height: 3px;
  background: #E6EBE0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burguer.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burguer.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burguer.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  z-index: 2;
  background-color: #0C0C0C;
  height: 100vh;
  width: 0rem;
  position: fixed;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav.open {
  visibility: visible;
  width: 15rem;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 15rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /* 

        li > a{ 
            //transform: translateX(100vw);
            @include transition-ease;
            &.open {
               // transform: translateX(0);
            }
            &.active > a {
            }
        }
/*
*/
}

.nav__navbar.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__navbar__item {
  text-decoration: none;
  margin-left: 0.25rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.nav__navbar__item__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-weight: 300;
  text-decoration: none;
  color: #FCE4D8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav__navbar__item__link.open {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.nav__navbar__item__link:hover {
  color: #FCE4D8;
}

.nav__navbar__item:nth-child(1) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

.nav__navbar__item:nth-child(2) {
  -webkit-transition-delay: 1.15s;
          transition-delay: 1.15s;
}

.nav__navbar__item:nth-child(3) {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}

.nav__navbar__item:nth-child(4) {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s;
}

.medio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #0C0C0C;
  height: 80vh;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: #32936f;
  color: #FCE4D8;
}

.about__title {
  margin: 2rem;
  letter-spacing: 10px;
  color: #E83F6F;
}

.about__subtitle {
  color: #E83F6F;
}

.about__text {
  margin: 5em 11em 10em 11em;
}

.about__grid {
  text-align: center;
  padding: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 33%;
}

.about__grid h4 {
  color: #E83F6F;
}

.about__grid p {
  padding: 0px;
  color: #FCE4D8;
}

.about__grid i {
  font-size: 20px;
  color: #FCE4D8;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about__grid i:hover {
  color: #000;
}

.about__grid:hover {
  box-shadow: 2px 15px 60px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 15px 60px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 15px 60px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 500px) {
  .about__text {
    margin: 1em;
    width: 90%;
  }
  .about__grid {
    width: 100%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.contacto {
  background-color: #4930E4;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.contacto__title {
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contacto__form {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(264vw, 21vh, 522px);
            transform: translate3d(264vw, 21vh, 522px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(264vw, 21vh, 522px);
            transform: translate3d(264vw, 21vh, 522px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.09;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(32vw, 77vh, 41px);
          transform: translate3d(32vw, 77vh, 41px);
  background: #bed926;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(56vw, 48vh, 486px);
            transform: translate3d(56vw, 48vh, 486px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(56vw, 48vh, 486px);
            transform: translate3d(56vw, 48vh, 486px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.2;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(75vw, 48vh, 42px);
          transform: translate3d(75vw, 48vh, 42px);
  background: #7726d9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(272vw, 46vh, 864px);
            transform: translate3d(272vw, 46vh, 864px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(272vw, 46vh, 864px);
            transform: translate3d(272vw, 46vh, 864px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.27;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(25vw, 59vh, 28px);
          transform: translate3d(25vw, 59vh, 28px);
  background: #d92632;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(328vw, 58vh, 657px);
            transform: translate3d(328vw, 58vh, 657px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(328vw, 58vh, 657px);
            transform: translate3d(328vw, 58vh, 657px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.74;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(67vw, 2vh, 37px);
          transform: translate3d(67vw, 2vh, 37px);
  background: #41d926;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(68vw, 49vh, 261px);
            transform: translate3d(68vw, 49vh, 261px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(68vw, 49vh, 261px);
            transform: translate3d(68vw, 49vh, 261px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.33;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(62vw, 42vh, 60px);
          transform: translate3d(62vw, 42vh, 60px);
  background: #a926d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(328vw, 73vh, 324px);
            transform: translate3d(328vw, 73vh, 324px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(328vw, 73vh, 324px);
            transform: translate3d(328vw, 73vh, 324px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.72;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(51vw, 45vh, 37px);
          transform: translate3d(51vw, 45vh, 37px);
  background: #26d9af;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(244vw, 9vh, 594px);
            transform: translate3d(244vw, 9vh, 594px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(244vw, 9vh, 594px);
            transform: translate3d(244vw, 9vh, 594px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.74;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(44vw, 47vh, 51px);
          transform: translate3d(44vw, 47vh, 51px);
  background: #9426d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(244vw, 40vh, 414px);
            transform: translate3d(244vw, 40vh, 414px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(244vw, 40vh, 414px);
            transform: translate3d(244vw, 40vh, 414px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.88;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(60vw, 75vh, 67px);
          transform: translate3d(60vw, 75vh, 67px);
  background: #d9ac26;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(128vw, 59vh, 558px);
            transform: translate3d(128vw, 59vh, 558px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(128vw, 59vh, 558px);
            transform: translate3d(128vw, 59vh, 558px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.79;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(54vw, 23vh, 53px);
          transform: translate3d(54vw, 23vh, 53px);
  background: #d926c1;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(176vw, 5vh, 837px);
            transform: translate3d(176vw, 5vh, 837px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(176vw, 5vh, 837px);
            transform: translate3d(176vw, 5vh, 837px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.15;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(77vw, 55vh, 32px);
          transform: translate3d(77vw, 55vh, 32px);
  background: #50d926;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(352vw, 46vh, 630px);
            transform: translate3d(352vw, 46vh, 630px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(352vw, 46vh, 630px);
            transform: translate3d(352vw, 46vh, 630px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.17;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(2vw, 59vh, 42px);
          transform: translate3d(2vw, 59vh, 42px);
  background: #d92659;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(104vw, 51vh, 783px);
            transform: translate3d(104vw, 51vh, 783px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(104vw, 51vh, 783px);
            transform: translate3d(104vw, 51vh, 783px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.79;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(59vw, 80vh, 75px);
          transform: translate3d(59vw, 80vh, 75px);
  background: #26d991;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(204vw, 35vh, 225px);
            transform: translate3d(204vw, 35vh, 225px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(204vw, 35vh, 225px);
            transform: translate3d(204vw, 35vh, 225px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.79;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(41vw, 34vh, 15px);
          transform: translate3d(41vw, 34vh, 15px);
  background: #d92626;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(288vw, 12vh, 378px);
            transform: translate3d(288vw, 12vh, 378px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(288vw, 12vh, 378px);
            transform: translate3d(288vw, 12vh, 378px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.18;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(69vw, 30vh, 23px);
          transform: translate3d(69vw, 30vh, 23px);
  background: #26d950;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(256vw, 71vh, 45px);
            transform: translate3d(256vw, 71vh, 45px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(256vw, 71vh, 45px);
            transform: translate3d(256vw, 71vh, 45px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.58;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(68vw, 84vh, 42px);
          transform: translate3d(68vw, 84vh, 42px);
  background: #d626d9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(44vw, 49vh, 603px);
            transform: translate3d(44vw, 49vh, 603px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(44vw, 49vh, 603px);
            transform: translate3d(44vw, 49vh, 603px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(87vw, 49vh, 15px);
          transform: translate3d(87vw, 49vh, 15px);
  background: #d9b226;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(180vw, 67vh, 594px);
            transform: translate3d(180vw, 67vh, 594px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(180vw, 67vh, 594px);
            transform: translate3d(180vw, 67vh, 594px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.72;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(70vw, 72vh, 43px);
          transform: translate3d(70vw, 72vh, 43px);
  background: #2653d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(296vw, 19vh, 297px);
            transform: translate3d(296vw, 19vh, 297px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(296vw, 19vh, 297px);
            transform: translate3d(296vw, 19vh, 297px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.55;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(68vw, 20vh, 54px);
          transform: translate3d(68vw, 20vh, 54px);
  background: #d99426;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(328vw, 23vh, 549px);
            transform: translate3d(328vw, 23vh, 549px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(328vw, 23vh, 549px);
            transform: translate3d(328vw, 23vh, 549px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.64;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(59vw, 33vh, 32px);
          transform: translate3d(59vw, 33vh, 32px);
  background: #5f26d9;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(24vw, 45vh, 540px);
            transform: translate3d(24vw, 45vh, 540px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(24vw, 45vh, 540px);
            transform: translate3d(24vw, 45vh, 540px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(21vw, 88vh, 51px);
          transform: translate3d(21vw, 88vh, 51px);
  background: #26d97a;
}

@media (max-width: 500px) {
  .contacto {
    background-color: #4930E4;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .contacto__title {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0em;
    margin-bottom: 0.5em;
  }
  .contacto__form {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__form__submit {
    margin-top: 0;
  }
}

/*.contacto h1{
    color: #fff;
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;
    padding: 80px 0px 20px;
}
.contacto h3{
    color:  #E43071;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contacto p{
    color: #fff;
    padding: 10px 137px 0px;
    margin-bottom: 20px;
}

input{
    background-color: rgba(228,48,113, 0.2);
    margin-left: 10px;
    color: fff;
    border-radius: 5px;
    border-style: double;
}
input#submit{
    background-color: rgba(228,48,113, 0.7);
    color: fff;
    margin-left: 10px;
    border-radius: 5px;
    max-height: 40px;
    margin-top: 40px;
}
textarea{
    color: fff;
    background-color: rgba(228,48,113, 0.2);
    border-radius: 5px;
    border-style: double;
}
/*.form-group {
    padding: 30px;

}
/*#formulario {
    padding: 3em;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
  }*


@media(max-width: 1200px){
    .hat h1{
        font-size: 23px;
    }
    .navbar-nav li{
        font-size: 15px;
    }
    .about_grid i {
        font-size: 20px;
        line-height: 53px;
        height: 54px;
        width: 54px;
    }
    .about h1{
        font-size: 15px;
    }
    .about a, h2, h2, p{
        font-size: 15px;
    }
    .medio{
        height: 800px;
    }
}*/
h1 {
  font-family: 'Manrope', sans-serif;
}

a, h2, h2, p {
  font-family: 'roboto', sans-serif;
}

.header {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(12, 12, 12, 0.9)), to(rgba(12, 12, 12, 0.1))), url("/img/header2.jpg");
  background: linear-gradient(to top, rgba(12, 12, 12, 0.9), rgba(12, 12, 12, 0.1)), url("/img/header2.jpg");
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
}

.header__hat {
  padding-left: 1em;
  padding-right: 1em;
}

.header__hat__title {
  text-align: center;
  text-transform: uppercase;
  color: #E83F6F;
  text-align: center;
  bottom: 3em;
}

.header__hat__subtitle {
  bottom: 1.5em;
}

/*@media(max-width: 1200px){
    .hat h1{
        font-size: 23px;
    }
    .navbar-nav li{
        font-size: 15px;
    }
    .about_grid i {
        font-size: 20px;
        line-height: 53px;
        height: 54px;
        width: 54px;
    }
    .about h1{
        font-size: 15px;
    }
    .about a, h2, h2, p{
        font-size: 15px;
    }
    .medio{
        height: 800px;
    }
}
@media(max-width: 992px){
    .hat h1{
        font-size: 20px;
    }
    .navbar-toggler{
        margin: 10px 0px 10px 30px;
        background-color: #E43071;
        border-color: #E43071;
    }
    .navbar-toggler:hover, .navbar-toggler:focus{
        background-color: #fff;
        border-color: #E43071;
    }
    .navbar-light{
        background-color: #fff;
    }
    .navbar-nav li a{
        text-align: center;
        background-color: aliceblue;
    }
    .navbar-nav li a:hover{
        background-color: #E43071;
    }
    .about h1{

        font-size: 14px;
    }
    .about a, h2, h2, p{

        font-size: 14px;
    }
}

@media(max-width: 768px){
    .about p{
        padding: 10px 10px 0px;
    }
}*/
/*# sourceMappingURL=main.css.map */