@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  margin-top: 0;
}

.menu-btn {
  position: fixed;
  z-index: 3;
  left: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burguer {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #E6EBE0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burguer::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  width: 28px;
  height: 3px;
  background: #E6EBE0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burguer::after {
  content: '';
  position: absolute;
  top: 0.5rem;
  width: 22px;
  height: 3px;
  background: #E6EBE0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burguer.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burguer.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burguer.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  z-index: 2;
  background-color: #0C0C0C;
  height: 100vh;
  width: 0rem;
  position: fixed;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav.open {
  visibility: visible;
  width: 15rem;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 15rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /* 

        li > a{ 
            //transform: translateX(100vw);
            @include transition-ease;
            &.open {
               // transform: translateX(0);
            }
            &.active > a {
            }
        }
/*
*/
}

.nav__navbar.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__navbar__item {
  text-decoration: none;
  margin-left: 0.25rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.nav__navbar__item__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-weight: 300;
  text-decoration: none;
  color: #FCE4D8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav__navbar__item__link.open {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.nav__navbar__item__link:hover {
  color: #FCE4D8;
}

.nav__navbar__item:nth-child(1) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

.nav__navbar__item:nth-child(2) {
  -webkit-transition-delay: 1.15s;
          transition-delay: 1.15s;
}

.nav__navbar__item:nth-child(3) {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}

.nav__navbar__item:nth-child(4) {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s;
}

.medio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #0C0C0C;
  height: 80vh;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: #32936f;
  color: #FCE4D8;
}

.about__title {
  margin: 2rem;
  letter-spacing: 10px;
  color: #E83F6F;
}

.about__subtitle {
  color: #E83F6F;
}

.about__text {
  margin: 5em 11em 10em 11em;
}

.about__grid {
  text-align: center;
  padding: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 33%;
}

.about__grid h4 {
  color: #E83F6F;
}

.about__grid p {
  padding: 0px;
  color: #FCE4D8;
}

.about__grid i {
  font-size: 20px;
  color: #FCE4D8;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about__grid i:hover {
  color: #000;
}

.about__grid:hover {
  box-shadow: 2px 15px 60px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 15px 60px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 15px 60px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 500px) {
  .about__text {
    margin: 1em;
    width: 90%;
  }
  .about__grid {
    width: 100%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.contacto {
  background-color: #4930E4;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.contacto__title {
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contacto__form {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(112vw, 32vh, 72px);
            transform: translate3d(112vw, 32vh, 72px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(112vw, 32vh, 72px);
            transform: translate3d(112vw, 32vh, 72px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.77;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(60vw, 71vh, 70px);
          transform: translate3d(60vw, 71vh, 70px);
  background: #26a0d9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(208vw, 72vh, 144px);
            transform: translate3d(208vw, 72vh, 144px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(208vw, 72vh, 144px);
            transform: translate3d(208vw, 72vh, 144px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.11;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(65vw, 75vh, 3px);
          transform: translate3d(65vw, 75vh, 3px);
  background: #7426d9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(232vw, 22vh, 693px);
            transform: translate3d(232vw, 22vh, 693px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(232vw, 22vh, 693px);
            transform: translate3d(232vw, 22vh, 693px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.28;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(86vw, 76vh, 66px);
          transform: translate3d(86vw, 76vh, 66px);
  background: #26d9a3;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(324vw, 57vh, 711px);
            transform: translate3d(324vw, 57vh, 711px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(324vw, 57vh, 711px);
            transform: translate3d(324vw, 57vh, 711px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.93;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(63vw, 14vh, 42px);
          transform: translate3d(63vw, 14vh, 42px);
  background: #9ad926;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(196vw, 75vh, 486px);
            transform: translate3d(196vw, 75vh, 486px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(196vw, 75vh, 486px);
            transform: translate3d(196vw, 75vh, 486px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.04;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(44vw, 44vh, 93px);
          transform: translate3d(44vw, 44vh, 93px);
  background: #2662d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(156vw, 83vh, 621px);
            transform: translate3d(156vw, 83vh, 621px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(156vw, 83vh, 621px);
            transform: translate3d(156vw, 83vh, 621px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.84;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(6vw, 80vh, 64px);
          transform: translate3d(6vw, 80vh, 64px);
  background: #d926d6;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(236vw, 2vh, 72px);
            transform: translate3d(236vw, 2vh, 72px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(236vw, 2vh, 72px);
            transform: translate3d(236vw, 2vh, 72px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.17;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(67vw, 40vh, 59px);
          transform: translate3d(67vw, 40vh, 59px);
  background: #7426d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(148vw, 34vh, 351px);
            transform: translate3d(148vw, 34vh, 351px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(148vw, 34vh, 351px);
            transform: translate3d(148vw, 34vh, 351px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.25;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(37vw, 60vh, 15px);
          transform: translate3d(37vw, 60vh, 15px);
  background: #d9267a;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(328vw, 48vh, 513px);
            transform: translate3d(328vw, 48vh, 513px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(328vw, 48vh, 513px);
            transform: translate3d(328vw, 48vh, 513px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.75;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(89vw, 13vh, 1px);
          transform: translate3d(89vw, 13vh, 1px);
  background: #5f26d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(360vw, 87vh, 324px);
            transform: translate3d(360vw, 87vh, 324px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(360vw, 87vh, 324px);
            transform: translate3d(360vw, 87vh, 324px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.68;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(32vw, 2vh, 11px);
          transform: translate3d(32vw, 2vh, 11px);
  background: #d9269a;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(228vw, 33vh, 765px);
            transform: translate3d(228vw, 33vh, 765px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(228vw, 33vh, 765px);
            transform: translate3d(228vw, 33vh, 765px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.98;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(81vw, 5vh, 60px);
          transform: translate3d(81vw, 5vh, 60px);
  background: #26d92c;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(176vw, 30vh, 459px);
            transform: translate3d(176vw, 30vh, 459px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(176vw, 30vh, 459px);
            transform: translate3d(176vw, 30vh, 459px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.88;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(54vw, 41vh, 69px);
          transform: translate3d(54vw, 41vh, 69px);
  background: #d93226;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(268vw, 76vh, 189px);
            transform: translate3d(268vw, 76vh, 189px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(268vw, 76vh, 189px);
            transform: translate3d(268vw, 76vh, 189px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(57vw, 42vh, 13px);
          transform: translate3d(57vw, 42vh, 13px);
  background: #d626d9;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(328vw, 30vh, 522px);
            transform: translate3d(328vw, 30vh, 522px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(328vw, 30vh, 522px);
            transform: translate3d(328vw, 30vh, 522px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.81;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(40vw, 70vh, 15px);
          transform: translate3d(40vw, 70vh, 15px);
  background: #d99426;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(68vw, 38vh, 612px);
            transform: translate3d(68vw, 38vh, 612px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(68vw, 38vh, 612px);
            transform: translate3d(68vw, 38vh, 612px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.04;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(19vw, 75vh, 35px);
          transform: translate3d(19vw, 75vh, 35px);
  background: #26a6d9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(12vw, 76vh, 18px);
            transform: translate3d(12vw, 76vh, 18px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(12vw, 76vh, 18px);
            transform: translate3d(12vw, 76vh, 18px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.13;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(18vw, 54vh, 3px);
          transform: translate3d(18vw, 54vh, 3px);
  background: #264ad9;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(292vw, 77vh, 792px);
            transform: translate3d(292vw, 77vh, 792px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(292vw, 77vh, 792px);
            transform: translate3d(292vw, 77vh, 792px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.53;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(53vw, 16vh, 28px);
          transform: translate3d(53vw, 16vh, 28px);
  background: #26c7d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(152vw, 23vh, 783px);
            transform: translate3d(152vw, 23vh, 783px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(152vw, 23vh, 783px);
            transform: translate3d(152vw, 23vh, 783px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.12;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(7vw, 90vh, 19px);
          transform: translate3d(7vw, 90vh, 19px);
  background: #5cd926;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(344vw, 69vh, 225px);
            transform: translate3d(344vw, 69vh, 225px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(344vw, 69vh, 225px);
            transform: translate3d(344vw, 69vh, 225px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.4;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(29vw, 4vh, 87px);
          transform: translate3d(29vw, 4vh, 87px);
  background: #26d9b5;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(128vw, 80vh, 891px);
            transform: translate3d(128vw, 80vh, 891px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(128vw, 80vh, 891px);
            transform: translate3d(128vw, 80vh, 891px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.93;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(16vw, 68vh, 36px);
          transform: translate3d(16vw, 68vh, 36px);
  background: #d9263b;
}

@media (max-width: 500px) {
  .contacto {
    background-color: #4930E4;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .contacto__title {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0em;
    margin-bottom: 0.5em;
  }
  .contacto__form {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__form__submit {
    margin-top: 0;
  }
}

/*.contacto h1{
    color: #fff;
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;
    padding: 80px 0px 20px;
}
.contacto h3{
    color:  #E43071;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contacto p{
    color: #fff;
    padding: 10px 137px 0px;
    margin-bottom: 20px;
}

input{
    background-color: rgba(228,48,113, 0.2);
    margin-left: 10px;
    color: fff;
    border-radius: 5px;
    border-style: double;
}
input#submit{
    background-color: rgba(228,48,113, 0.7);
    color: fff;
    margin-left: 10px;
    border-radius: 5px;
    max-height: 40px;
    margin-top: 40px;
}
textarea{
    color: fff;
    background-color: rgba(228,48,113, 0.2);
    border-radius: 5px;
    border-style: double;
}
/*.form-group {
    padding: 30px;

}
/*#formulario {
    padding: 3em;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
  }*


@media(max-width: 1200px){
    .hat h1{
        font-size: 23px;
    }
    .navbar-nav li{
        font-size: 15px;
    }
    .about_grid i {
        font-size: 20px;
        line-height: 53px;
        height: 54px;
        width: 54px;
    }
    .about h1{
        font-size: 15px;
    }
    .about a, h2, h2, p{
        font-size: 15px;
    }
    .medio{
        height: 800px;
    }
}*/
h1 {
  font-family: 'Manrope', sans-serif;
}

a, h2, h2, p {
  font-family: 'roboto', sans-serif;
}

.header {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(12, 12, 12, 0.9)), to(rgba(12, 12, 12, 0.1))), url("/img/header2.jpg");
  background: linear-gradient(to top, rgba(12, 12, 12, 0.9), rgba(12, 12, 12, 0.1)), url("/img/header2.jpg");
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
}

.header__hat {
  padding-left: 1em;
  padding-right: 1em;
}

.header__hat__title {
  text-align: center;
  text-transform: uppercase;
  color: #E83F6F;
  text-align: center;
  bottom: 3em;
}

.header__hat__subtitle {
  bottom: 1.5em;
}

/*@media(max-width: 1200px){
    .hat h1{
        font-size: 23px;
    }
    .navbar-nav li{
        font-size: 15px;
    }
    .about_grid i {
        font-size: 20px;
        line-height: 53px;
        height: 54px;
        width: 54px;
    }
    .about h1{
        font-size: 15px;
    }
    .about a, h2, h2, p{
        font-size: 15px;
    }
    .medio{
        height: 800px;
    }
}
@media(max-width: 992px){
    .hat h1{
        font-size: 20px;
    }
    .navbar-toggler{
        margin: 10px 0px 10px 30px;
        background-color: #E43071;
        border-color: #E43071;
    }
    .navbar-toggler:hover, .navbar-toggler:focus{
        background-color: #fff;
        border-color: #E43071;
    }
    .navbar-light{
        background-color: #fff;
    }
    .navbar-nav li a{
        text-align: center;
        background-color: aliceblue;
    }
    .navbar-nav li a:hover{
        background-color: #E43071;
    }
    .about h1{

        font-size: 14px;
    }
    .about a, h2, h2, p{

        font-size: 14px;
    }
}

@media(max-width: 768px){
    .about p{
        padding: 10px 10px 0px;
    }
}*/
/*# sourceMappingURL=main.css.map */